$main-color: #eee;

* {
  font-family: Raleway;
  font-weight: 300;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

table {
  caption {
    font-size: 2rem;
    padding: 10px 15px;
    text-align: left;
    background: lighten($main-color, 5%);
  }
  td {
    padding: 10px 10px;
  }
  thead {
    background: lighten($main-color, 5%);
    th {
      font-weight: bold;
      border-radius: 0;
    }
  }
  div.inspect-active {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block !important;
    z-index: 100;
    table {
      background: lighten($main-color, 5%);
      -webkit-box-shadow: 0px 13px 30px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 0px 13px 30px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 0px 13px 30px 0px rgba(50, 50, 50, 0.75);
    }
  }
  div.table-container {
    display: none;
    .inline-controls {
      top: 10px;
      right: 10px;
      position: fixed;
      * {
        float: right;
        margin-left: 10px;
      }
    }
  }
}

.btn-medium {
  height: 44px !important;
  line-height: 46px !important;
}

h2 {
  font-size: 30px;
  margin-top: 0;
}

#reader li {
  margin-bottom: 20px;

  div {
    padding: 20px;
  }
  .header {
    background: darken($main-color, 50%);
  }
  .content {
    background: darken($main-color, 10%);
  }
}

#menu {
  padding: 0;
  background: darken($main-color, 70%);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;

  a {
    padding: 10px 5px 10px 15px;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    color: lighten($main-color, 40%);
    font-weight: 100;
  }
  a:hover {
    background: darken($main-color, 50%);
  }

  .logo-area {
    color: lighten($main-color, 40%);
    margin: 35px 5px;
    h1 {
      font-size: 2.5rem;
      margin: 0 0 0 0px;
      text-align: center;
    }
    p {
      margin: 0 0 0 0px;
      text-align: center;
    }
  }
}

#content {
  margin-bottom: 55px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  #bread {
    padding: 10px 0 10px 0;

    background: lighten($main-color, 40%);
  }

  h2 {
    font-size: 2rem;
  }

  i.edit {
    color: lighten($main-color, 12%);
  }
  i.delete {
    color: #f44336;
  }
}

.login-outer {
  .login-inner {
    margin-top: 200px;
    background: #fff;
    padding: 40px 10px;

    .input-field {
      margin: 30px 0;
    }
    .btn {
      margin-top: 30px;
      background: darken($main-color, 15);

      width: 100%;
      input {
        width: 100%;
        height: 100%;
      }
    }
    .toast {
      background: #aaa;
    }
  }
}

//Utillity classes
.addbtn {
  background: darken($main-color, 0%);
}

.addbtn:hover {
  background: lighten($main-color, 20%);
}

.input-field label {
  color: darken($main-color, 100);
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid darken($main-color, 100);
  box-shadow: 0 1px 0 0 #000;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: darken($main-color, 100);
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid darken($main-color, 100);
  box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text].invalid {
  border-bottom: 1px solid darken($main-color, 100);
  box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: darken($main-color, 100);
}

.btn {
  background: darken($main-color, 15);
}

.btn:hover {
  background: darken($main-color, 5);
}
