$background: #333;
$color: #eee;

* {
  margin: 0;
  padding: 0;
  color: #eee;
}

nav {
  padding: 20px;

  li {
    margin-bottom: 20px;
    display: block;

    a {
      display: block;
    }
  }
}

body {
  background: $background;
}